<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./lawyer.component.css">
    <title>Team profile cards</title>
</head>
<body >
    <div *ngFor="let lawyer of lawyers">
        <div *ngIf="lawyer.sortId==1">
            <div class="card" >

                <div class="card-image">
                    <div>
                        <img [src]="getLawyerImagePath(lawyer.id)" alt="image not found">
                    <!-- <img *ngIf="lawyerImage.imagePath" routerLink="/lawyer/getLawyerImagesByLawyerId/{{ lawyerImage.lawyerId }}" [src]="lawyerImage.imagePath.length !== 0 ? baseUrl+lawyerImage.imagePath[0] : baseUrl + 'DefaultImage.jpg'" alt="image not found"> -->
                    </div>
                </div>

                <p class="name"> {{lawyer.name}} </p>
                <p>  {{lawyer.position}} </p>
                <p style="text-align: center;"> {{lawyer.description}} </p>
            </div>
        </div>
    </div>
</body>
<h2 class="text-center mt-0">Stajyer Avukatlarımız</h2>
<hr class="divider" />
<body >
    <div *ngFor="let lawyer of lawyers">
        <div *ngIf="lawyer.sortId==2">
            <div class="card" >

                <div class="card-image">
                    <div>
                        <img [src]="getLawyerImagePath(lawyer.id)" alt="image not found">
                    <!-- <img *ngIf="lawyerImage.imagePath" routerLink="/lawyer/getLawyerImagesByLawyerId/{{ lawyerImage.lawyerId }}" [src]="lawyerImage.imagePath.length !== 0 ? baseUrl+lawyerImage.imagePath[0] : baseUrl + 'DefaultImage.jpg'" alt="image not found"> -->
                    </div>
                </div>

                <p class="name"> {{lawyer.name}} </p>
                <p>  {{lawyer.position}} </p>
                <p style="text-align: center;"> {{lawyer.description}} </p>
            </div>
        </div>
    </div>
</body>
<h2 class="text-center mt-0">Personel Ekibimiz</h2>
<hr class="divider" />
<body>
    <div *ngFor="let lawyer of lawyers">
        <div *ngIf="lawyer.sortId==3">
            <div class="card" >

                <div class="card-image">
                    <div>
                        <img [src]="getLawyerImagePath(lawyer.id)" alt="image not found">
                    <!-- <img *ngIf="lawyerImage.imagePath" routerLink="/lawyer/getLawyerImagesByLawyerId/{{ lawyerImage.lawyerId }}" [src]="lawyerImage.imagePath.length !== 0 ? baseUrl+lawyerImage.imagePath[0] : baseUrl + 'DefaultImage.jpg'" alt="image not found"> -->
                    </div>
                </div>

                <p class="name"> {{lawyer.name}} </p>
                <p>  {{lawyer.position}} </p>
                <p style="text-align: center;"> {{lawyer.description}} </p>
            </div>
        </div>
    </div>
</body>




</html>


